@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Reports
@model ReportsIndexModel

@{
    ViewBag.Title = "Ods Instance Reports | Enrollment By Ethnicity";
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

<div class="padding-bottom-10" align="center">
    <h2>@Model.StudentEthnicityReport.LocalEducationAgencyName</h2>
</div>

<h3>Enrollment By Ethnicity</h3>
<table class="table table-condensed table-left-border">
    <thead>
        <tr>
            <th>Ethnicity</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Hispanic/Latino</td>
            <td>@Model.StudentEthnicityReport.HispanicLatinoPercent.ToString("P2")</td>
        </tr>
    </tbody>
</table>

<a href="@Url.Action("SelectDistrict", "OdsInstanceSettings", new {id = Model.StudentEthnicityReport.LocalEducationAgencyId})">@Html.Button("Back to Reports")</a>
