@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Reports
@model ReportsIndexModel

@{
    ViewBag.Title = "Ods Instance Reports | Schools By School Type";
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

<div class="padding-bottom-10" align="center">
    <h2>@Model.SchoolTypeReport.LocalEducationAgencyName</h2>
</div>

<h3>Schools by School Type</h3>
@if (Model.SchoolTypeReport.SchoolCounts.Count == 0)
{
    <em class="padding-top">There is no school data to display</em>
}
else
{
    <table class="table table-condensed table-left-border">
        <thead>
            <tr>
                <th>School Type</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in Model.SchoolTypeReport.SchoolCounts)
            {

                <tr>
                    <td>@school.Description</td>
                    <td>@school.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@Url.Action("SelectDistrict", "OdsInstanceSettings", new {id = Model.SchoolTypeReport.LocalEducationAgencyId})">@Html.Button("Back to Reports")</a>
