@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.OdsInstances.DeregisterOdsInstanceModel

<div id="deregister-instance-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deregisterOdsInstanceModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deregister Ods Instance</h4>
            </div>
            <div class="modal-body center-block text-center">
                <div class="padding-bottom-10">
                    Do you want to deregister the instance - <b>@Model.Name</b>?
                </div>
                @using (Html.BeginForm("DeregisterOdsInstance", "OdsInstances", FormMethod.Post))
                {
                    @Html.ValidationBlock()
                    @Html.Input(m => m.OdsInstanceId).Hide()
                    @Html.Input(m => m.Name).Hide()
                    @Html.Input(m => m.Description).Hide()
                }
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
                @Html.SaveButton("Deregister")
            </div>
        </div>
    </div>
</div>