@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management.Database.Models
@using EdFi.Ods.AdminApp.Management.Instances
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.OdsInstances.IndexModel
@{
    ViewBag.Title = "Ods Instances | Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div id="ods-instances" class="navigational-index">
            @if (Model.UserContext.Has(Permission.AccessGlobalSettings))
            {
                <div class="row">
                    <div align="right" class="col-md-9">
                        @Html.ActionLink("Register A New Instance", "RegisterOdsInstance", (object)null, new { @class = "btn btn-primary cta" })
                    </div>
                    <div align="right" class="col-md-3">
                        @Html.ActionLink("Register Many Instances in Bulk", "BulkRegisterOdsInstances", (object)null, new { @class = "btn btn-primary cta" })
                    </div>
                </div>
                <br/><br/>
            }
            @if (Model.OdsInstances.Any())
            {
                @if (TempData["IsVendorApplications"] is true)
                {
                    <div class="alert alert-info text-center">An ODS Instance must be selected before you can define an Application.</div>
                }
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Instance</th>
                        <th scope="col">Database</th>
                        <th scope="col">Description</th>
                        <th scope="col">Set School Year</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                        @foreach (var instance in Model.OdsInstances)
                        {
                            <tr>
                                <th scope="row"><a class="instance-settings" href="@Url.Action("ActivateOdsInstance", "OdsInstances", new {instanceId = instance.Id})">@instance.Name</a></th>
                                <td>@instance.DatabaseName</td>
                                <td>@instance.Description</td>
                                <td>
                                    @instance.SchoolYearDescription
                                    <a class="loads-ajax-modal" data-toggle="tooltip" title="Set School Year" data-url="@Url.Action("Edit", "SchoolYears", new{instanceName=instance.Name})"> <span class="fa fa-pencil action-icons"></span></a>
                                </td>
                                @if (Model.UserContext.Has(Permission.AccessGlobalSettings))
                                {
                                    <td>
                                        <a class="loads-ajax-modal instance-deregister" data-toggle="tooltip" title="Deregister Instance" data-url="@Url.Action("DeregisterOdsInstance", "OdsInstances", new {instanceId = instance.Id})"><span class="fa fa-trash action-icons"></span></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                if (Model.UserContext.Has(Permission.AccessGlobalSettings))
                {
                    @if (TempData["IsVendorApplications"] is true)
                    {
                        <div class="alert alert-info margin-top-10 text-center">An ODS Instance is required to define an Application, but none have been configured yet. Register an ODS Instance and then select it to define your Application.</div>
                    }
                    else
                    {
                        <div class="alert alert-info margin-top-10 text-center">No instances registered with the Admin App. Please register a new instance.</div>
                    }
                }
                else
                {
                    <div class="alert alert-info margin-top-10 text-center">No instances have been assigned to you yet. Please contact a @Role.SuperAdmin.DisplayName to get started.</div>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        InitializeModalLoaders();
    });
</script>
