@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management.Instances
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Infrastructure
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.OdsInstances.RegisterOdsInstanceModel

@{
    ViewBag.Title = "Ods Instances | Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var exampleName = "eg. 123456";
    var exampleDescription = "eg. Glendale ISD";
    var helperText = "District / Education Organization Id";
    var labelText = "ODS Instance District / EdOrg Id";
    var maxValue = int.MaxValue;
    var minValue = 1;

    if (CloudOdsAdminAppSettings.Instance.Mode == ApiMode.YearSpecific)
    {
        var currentYear = DateTime.Now.Year;
        exampleName = "eg. "+currentYear;
        exampleDescription = "eg. School Year "+currentYear;
        helperText = "School Year";
        labelText = "ODS Instance School Year";
        maxValue = 2099;
        minValue = 1900;
    }
}

<h3 class="text-center padding-bottom-10">Register Ods Instance</h3>
@using (Html.BeginForm("RegisterOdsInstance", "OdsInstances", FormMethod.Post, new { @id = "register-instance-form" }))
{
    @Html.AntiForgeryToken()
    <div id="register-instance-validation-summary" class="validationSummary alert alert-danger" hidden></div>
    @Html.NumberOnlyInputBlock(x => x.NumericSuffix, exampleName, $"{helperText} associated with the ODS instance database to connect to (Valid input: {minValue}-{maxValue}.", labelText, maxValue, minValue)
    @Html.InputBlock(x => x.Description, exampleDescription, "A user-facing descriptive name for this ODS instance database.")
    <br />
    <div class="padding-top-5 text-center">
        @Html.Button("Back").Attr("type", "button").AddClass("back-btn back-ajax").Data("back-url", Url.Action("Index", "OdsInstances")).Id("ods-instance-settings-back-button")
        @Html.SaveButton("Save").AddClasses("no-ajax", "Save-button")
    </div>
    <div align="right">
        @Html.ActionLink("Register Many Instances in Bulk", "BulkRegisterOdsInstances", (object)null, new { @class = "btn btn-primary cta" })
    </div>
}
<script type="text/javascript">
    $('#register-instance-form').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        $(".Save-button")
            .html('Saving... <span class="padding-left"><i id="spinner" class="fa fa-spinner fa-pulse"></i></span>');
        $(".Save-button").attr('disabled', true);

        var successAdditionalBehavior = function() {
            SetSuccessMessage("New Instance registered successfully.");
            ShowToasterMessage();
            ClearToasterMessage();
            form[0].reset();
            $('#ods-instance-settings-back-button').trigger('click');
        };
        var errorAdditionalBehavior = function() {
            $(".Save-button").html('Save');
            $(".Save-button").attr('disabled', false);
        };
        var ajaxRequestData = {
            form: form,
            formData: form.serialize(),
            successAdditionalBehavior: successAdditionalBehavior,
            errorAdditionalBehavior: errorAdditionalBehavior
        };
        submitAjaxForInnerTabs(ajaxRequestData);
    });
    $(function () {
        InitializeSubmitButtons();
        InitializeBackNavigationalAjaxButtons();
    });
</script>
