@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using Microsoft.AspNetCore.Html
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Home.ErrorModel

<div class="row">
    <div class="col-md-12">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p id="errorDescription"><em class="text-danger"><b>@(new HtmlString(Model.Message))</b></em></p>
        }
        else
        {
            <p>There was an error processing your request. Please check the system log for diagnostic information.</p>
        }
        @if (Model.StatusCode != null)
        {
            <p id="errorStatus"><em class="text-danger"><b> Status: @((int)Model.StatusCode)</b></em></p>
        }
        else
        {
            <p id="errorStatus"><em class="text-danger"><b>No response from server</b></em></p>
        }
        <p>
            <em class="text-danger">
                If the error persists, you can find more information and context in the application logs. If you are unable to identify the issue or resolve it, please schedule a ticket via <a href='https://tracker.ed-fi.org/projects/EDFI/issues'>Ed-Fi Tracker</a>
                or visit <a href='https://techdocs.ed-fi.org/display/ADMIN'>Admin App documentation</a> for more information.
            </em>
        </p>
        @if (!string.IsNullOrEmpty(Model.StackTrace))
        {
            <div style="@(Model.IsStackTraceRelevant? "display:block" : "display:none")">
                <p><em class="text-danger"><b>Error Stack Trace:</b></em></p>
                <code id="stackTrace">@Model.StackTrace</code>
            </div>
        }
        <br />
    </div>
</div>
<div class="row">
    <div class="padding-top-5 text-center">
        <a href="javascript:history.go(-1);" class="btn btn-primary cta">Back</a>
        <a href="#" id="error-report-button" class="@(Model.AllowFeedback? "btn btn-primary cta" : "btn btn-primary cta hidden")">Report Error</a>
    </div>
</div>
