@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management
@using EdFi.Ods.AdminApp.Management.Database.Models
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ed-Fi ODS Admin App for Suite 3</title>
    @Styles.Render("~/Content/css/styles")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts/lodash")
    @Scripts.Render("~/bundles/scripts/site")
    @Scripts.Render("~/bundles/scripts/clipboard")
</head>
<body>
    <div id="dynamic-modal-container"></div>
    <script language="javascript">
        toastr.options.positionClass = "toast-bottom-right";
    </script>
    <nav class="navbar navbar-inverse navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand brand" href="@Url.Action("Index", "Home")"> <img src="~/Content/images/logo-edfi@2x.png" width="132" height="70" alt=""/> </a>
                <span class="topbar_headline"> Ed-Fi ODS Admin App for Suite 3 </span>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class="btn-group">
                        @Html.Partial("_LoginPartial")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    @if (TempData.ContainsKey("ToastMessage"))
    {
        @Html.Hidden("toast", Html.Encode(TempData["ToastMessage"]), new { data_type = TempData["ToastType"] })
    }
    <div class="container body-content">
        <div class="row">
            @if (HttpContext.Current.User != null && HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (DependencyResolver.Current.GetService<AdminAppUserContext>().Has(Permission.AccessGlobalSettings))
                 {
                     <div class="col-md-1 col-md-offset-9 nav-links">
                         <a href="@Url.Action("Index", "Home")" class="text-nowrap">
                             <span class="fa fa-home"></span><strong>Home</strong>
                         </a>
                     </div>

                     <div class="col-md-2 nav-links">
                         <a href="@Url.Action("Edit", "Configuration")" class="text-nowrap">
                             <span class="fa fa-gears"></span><strong>Configuration</strong>
                         </a>
                     </div>
                }
                else
                {
                    <div class="col-md-1 col-md-offset-11 nav-links">
                        <a href="@Url.Action("Index", "Home")" class="text-nowrap">
                            <span class="fa fa-home"></span><strong>Home</strong>
                        </a>
                    </div>
                }
            }
        </div>
        <section>
            @RenderBody()
            <div id="AntiForgeryToken">
                @Html.AntiForgeryToken()
            </div>
            <div class="hidden">
                <div id="loading-overlay" class="text-center">
                    <div><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container container-footer">
            <div class="row">
                <p class="col-md-4"></p>
                <p class="col-md-4 text-muted small"><a href="@Url.Action("Index", "Home")"><span class="fa fa-home"></span><span>Home</span></a></p>
                <p class="col-md-4 text-right application-version">@Html.ApplicationVersion()</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        GlobalInitialize();
    </script>
</body>
</html>
