@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.User.EditOdsInstanceRegistrationForUserModel

@{
    ViewBag.Title = "Global | Users | Manage Instances";
}

@{ await Html.RenderPartialAsync("_SettingsGlobalHeader", Model.GlobalSettingsTabEnumerations); }

<div class="row">
    <div class="col-md-offset-4 col-md-8">
        <div class="padding-15">
            <h3 style="display: inline">Manage Ods Instances For : </h3>
            <h4 style="display: inline"><b>@Model.Email</b></h4>
        </div>

        @if (Model.OdsInstanceRegistrations.Any())
        {
            using (Html.BeginForm("EditOdsInstanceRegistrationsForUser", "User", FormMethod.Post, new
            {
                @id = "edit-ods-instances-on-user-form",
                @class = "padding-15"
            }))
            {
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.Email)
                @Html.AntiForgeryToken()
                if (!Html.ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                }
                <input type="checkbox" id="selectAllCheckbox" /><label class="padding-left" for="selectAllCheckbox">Select All</label>
                for (int i = 0; i < Model.OdsInstanceRegistrations.Count(); i++)
                {
                    <div>
                        @Html.HiddenFor(m => m.OdsInstanceRegistrations[i].OdsInstanceRegistrationId)
                        @Html.HiddenFor(m => m.OdsInstanceRegistrations[i].Name)
                        @Html.CheckBoxFor(m => m.OdsInstanceRegistrations[i].Selected, new { @class = "instance-checkbox" })
                        @Html.LabelFor(m => m.OdsInstanceRegistrations[i].Selected, Model.OdsInstanceRegistrations[i].Name)
                    </div>
                }

                <div class="padding-top-5 margin-top-10">
                    @Html.ActionLink("Back", "Users", "GlobalSettings", null, new { @class = "btn btn-primary cta" })
                    @Html.SaveButton("Assign Instances").AddClass("no-ajax")
                </div>
            }
        }
    </div>
</div>
<script type="text/javascript">
    $("#selectAllCheckbox").click(function () {
        $(".instance-checkbox").prop('checked', $(this).prop('checked'));
    });
    $(".instance-checkbox").change(function () {
        if (!$(this).prop("checked")) {
            $("#selectAllCheckbox").prop("checked", false);
        }
    });
</script>
