@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@
@using EdFi.Ods.AdminApp.Web.Helpers

@model EdFi.Ods.AdminApp.Web.Models.ViewModels.SchoolYears.EditSchoolYearModel

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Set School Year</h4>
            </div>
            <div class="modal-body center-block">
                @if (Model.Warning != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>@Model.Warning</p>
                    </div>
                }
                @using (Html.BeginForm("Edit", "SchoolYears"))
                {
                    @Html.ValidationBlock()
                    @Html.HiddenFor(m => m.InstanceName)
                    @Html.SelectListBlock(m => m.SchoolYear, Model.SchoolYears)
                }
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
                @Html.SaveButton("Save").AppendSpinner("change-school-year-spinner")
            </div>
        </div>
    </div>
</div>
