@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using System.Globalization
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.LearningStandards
@model LearningStandardsModel

@if (Model.HasApiData)
{
    if (!Model.SynchronizationWasSuccessful && !Model.IsJobRunning)
    {
        <div class="tab-pane active" id="form-tab-content-prod">
            <div class="col-xs-12 margin-bottom-10">
                <div class="margin-bottom-10">
                    AB Connect, provided by Certica Solutions, includes the Academic Benchmarks repository of learning standards and is the source for your Ed-Fi learning standards reference data. Once the AB Connect learning standards module is enabled, you can load and refresh your Ed-Fi ODS learning standards reference data.
                </div>
                <div class="margin-bottom-10">
                    To enable the AB Connect learning standards module, you will need an AB Connect API ID and key provided by Certica Solutions. <a href="https://certicasolutions.com/products/AB-Ed-Fi/">Contact Certica Solutions</a> to provision your AB Connect account and receive your AB Connect API ID and key.
                </div>
                <div class="margin-bottom-10">
                    Please email <a href="mailto:absupport@certicasolutions.com">absupport@certicasolutions.com</a> for general help regarding the AB Connect learning standards module.
                </div>
            </div>
            @using (Html.BeginForm("LearningStandards", "LearningStandards", FormMethod.Post, new { id = "learning-standards-prod-form" }))
            {
                @Html.ValidationBlock()
                @Html.InputBlock(m => m.ApiKey)
                @Html.InputBlock(m => m.ApiSecret)
                <div class="col-xs-4"></div>
                <div class="col-xs-6">
                    @Html.SaveButton("Enable Learning Standards").Id("learning-standards-prod-button")
                </div>
            }
            <div class="col-xs-12 margin-top-10">
                <div class="margin-top-10">
                    By enabling the AB Connect learning standards module, I agree to the <a href="https://certicasolutions.com/products/AB-Ed-Fi-terms-use/">Certica Solutions Terms of Service</a> and <a href="https://certicasolutions.com/products/AB-Ed-Fi-privacy/">Privacy Policy</a>.
                </div>
            </div>
        </div>
    }
    else if (Model.SynchronizationWasSuccessful && !Model.IsJobRunning)
    {
        <div class="tab-pane active">
            <h3>Learning Standards</h3>
            <div>The AB Connect learning standards module is enabled. Please refer to the Certica <a href="https://certicasolutions.com/products/AB-Ed-Fi-terms-use/">Terms of Service</a> as it relates to your vendor's AB Connect license.</div>
            <br />
            <div style="background-color: #dddddd; width: 50%">
                <div>AB Connect ID: @Model.ApiKey</div>
                <div>Last Updated: @Model.LastUpdatedDate.ToString(CultureInfo.CurrentCulture)</div>
            </div>
            <br />
            @using (Html.BeginForm("UpdateLearningStandards", "LearningStandards", FormMethod.Post, new { id = "update-now-learning-standards" }))
            {
                @Html.SaveButton("Update Now")
            }

            @Html.AjaxPostButton(Url.Action("ResetLearningStandards", "LearningStandards"), "Reset Credentials")
        </div>
    }
    <div class="tab-pane" id="status-tab-content-prod">
        @Html.Partial("_SignalRStatus_LS")
    </div>
}
else
{
    <span>Please setup production instance before enabling Learning Standards</span>
}


<script>
    var enableLearningStandards = function(e) {
        e.preventDefault();

        var $form = $(this),
            formData = appendAntiForgeryToken($form.serialize());

        $.ajax({
            url: $form.attr("action"),
            type: 'POST',
            data: formData,
            success: function (data, status, xhr) {
                if (xhr.status !== edfiODS.httpStatusCodes.NoContent) {
                    ShowLearningStandardsStatus();
                }
            },
            error: function () {
                edfiODS.signalR.showError("Error enabling Learning Standards.  Please try again later");
            }
        });
    };

    $('#learning-standards-prod-form').submit(enableLearningStandards);
    $('#update-now-learning-standards').submit(enableLearningStandards);

    function ShowLearningStandardsStatus() {
        edfiODS.signalR.showProgress();
        $('#form-tab-content-prod').toggleClass('active');
        $('#status-tab-content-prod').toggleClass('active');
    }
    $(function () {
        edfiODS.signalR.hideProgress();
        edfiODS.signalR.startListener($.connection.productionLearningStandardsHub, null);
        edfiODS.signalR.changeStatusMessage("Initializing Learning Standards");

        var isJobRunning = "@(Model.IsJobRunning ? "true" : "false")";
        if (isJobRunning === "true") {
            ShowLearningStandardsStatus();
        }
    });
</script>
