@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers

@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Global.AddVendorModel

<div class="modal fade add-vendor-modal" tabindex="-1" role="dialog" aria-labelledby="addVendorModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Vendor</h4>
            </div>
            <div class="modal-body center-block text-center">
                @using (Html.BeginForm("AddVendor", "GlobalSettings", FormMethod.Post, new { id = "addVendorFormModal" }))
                {
                    @Html.ValidationBlock()
                    @Html.InputBlock(m => m.Company, "Vendor Name")
                    @Html.InputTextAreaBlock(m => m.NamespacePrefixes, placeholderText:"http://vendor1.com, http://vendor2.com, http://vendor3.com ..."
                        , helpText:"You can provide a comma separated list of vendor namespace prefixes."
                        , inputModifier: x =>
                        {
                            x.Attr("id", "add-vendor-namespaces");
                            x.Attr("rows", 4);
                        })
                    <div class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-6 text-left">
                                <div class="input-group">
                                    <input id="add-namespace-prefix-input" type="text" class="form-control" placeholder="http://vendorwebsite.com">
                                    <span class="input-group-btn">
                                        <button id="add-namespace-prefix" class="btn btn-primary" type="button">Add</button>
                                    </span>
                                </div>
                                <small class="text-muted">Use 'Add' to add a vendor namespace prefix in the textbox above.</small>
                            </div>
                            <span class="text-left help-form col-xs-2"><span></span></span>
                        </div>
                    </div>
                    @Html.InputBlock(m => m.ContactName, "Jane Smith")
                    @Html.InputBlock(m => m.ContactEmailAddress, "email@vendorwebsite.com")
                }
            </div>
            <div class="modal-footer">
                @Html.ModalFormButtons()
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {   
        $(".add-vendor-modal").on("show.bs.modal", function () {            
            $("#addVendorFormModal").get(0).reset();
            $(".form-group").removeClass("has-error");
            $(".validationSummary").addClass("hidden");
            $("#addVendorFormModal.textarea").val("");
            $("#addVendorFormModal.input").val("");
        });
        $("textarea[id=add-vendor-namespaces]").on("input", function (e) {
            this.val(e.target.value);
        });
        $("#add-namespace-prefix").on("click", function () {
            var namespacePrefixesInput = $("textarea[id=add-vendor-namespaces]"); 
            var previousValue = namespacePrefixesInput.val().trim();
            var namespaceToAdd = $("#add-namespace-prefix-input").val().trim();
            var newValue = "";
            if (namespaceToAdd.length) {
                if (previousValue.length) {
                    newValue = previousValue + ",";
                }
                newValue += namespaceToAdd;
                namespacePrefixesInput.val(newValue);
            }
            $("#add-namespace-prefix-input").val("");
        });
    });
</script> 
