@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Global.EditVendorModel

@if (Model == null)
{
    <div class="alert alert-danger">
        This vendor cannot be found. It may have been recently deleted.
    </div>
}
else
{
    using (Html.BeginForm("EditVendor", "GlobalSettings"))
    {
        @Html.ValidationBlock()
        @Html.Input(m => m.VendorId).Hide()
        @Html.InputBlock(m => m.Company, "Vendor Name")
        @Html.InputTextAreaBlock(m => m.NamespacePrefixes, Model.NamespacePrefixes, "http://vendor1.com, http://vendor2.com, http://vendor3.com ..."
            , "You can provide a comma separated list of vendor namespace prefixes. You can remove an already assigned namespace prefixes by not including it in the list."
            , x =>
            {
                x.Attr("id", "edit-vendor-namespaces");
                x.Attr("rows", 4);
            })
        <div class="form-horizontal">
            <div class="row form-group">
                <div class="col-xs-4"></div>
                <div class="col-xs-6 text-left">
                    <div class="input-group">
                        <input id="edit-namespace-prefix-input" type="text" class="form-control" placeholder="http://vendorwebsite.com">
                        <span class="input-group-btn">
                            <button id="edit-namespace-prefix" class="btn btn-primary" type="button">Add</button>
                        </span>
                    </div>
                    <small class="text-muted">Use 'add' to add a vendor namespace prefix in the textbox above.</small> 
                </div>
                <span class="text-left help-form col-xs-2"><span></span></span>
            </div>
        </div>
        @Html.InputBlock(m => m.ContactName, "Jane Smith")
        @Html.InputBlock(m => m.ContactEmailAddress, "email@vendorwebsite.com")
    }
}
