@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using System.Security.Claims
@using EdFi.Ods.AdminApp.Management.Database.Models
@using EdFi.Ods.AdminApp.Web.Infrastructure
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Global
@model GlobalSettingsModel

@{
    Layout = "~/Views/Shared/_Settings_Global.cshtml";
    ViewBag.Title = "Global | Users";
}
<div class="tab-content margin-top-10" id="user-list">
    <div id="adminapp-user-tab" class="tab-pane active padding-15">
        <div align="right">
            @Html.ActionLink("Add User", "AddUser", "User", null, new { @class = "btn btn-primary cta"})
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.UserIndexModel.Users)
            {
                <tr>
                    <th scope="row">@user.UserName</th>
                    <td colspan="3">
                        <div class="text-right col-md-offset-8 col-md-4">
                            <div class="col-md-3">
                                <a class="loads-ajax-modal" data-toggle="tooltip" title="Edit User Profile" data-url="@Url.Action("EditUser", "User", new {userId = user.UserId})"><span class="fa fa-pencil action-icons"></span></a>
                            </div>
                            <div class="col-md-3">
                                @if (CloudOdsAdminAppSettings.Instance.Mode.SupportsMultipleInstances)
                                {
                                    <a data-toggle="tooltip" title="Manage User Ods Instances" href="@Url.Action("EditOdsInstanceRegistrationsForUser", "User", new {userId = user.UserId})"> <span class="fa fa-server action-icons"></span></a>
                                }
                            </div>
                            <div class="col-md-3">
                                @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != user.UserId)
                                {
                                    <a class="loads-ajax-modal" data-toggle="tooltip" title="Edit User Role" data-url="@Url.Action("EditUserRole", "User", new {userId = user.UserId})"><span class="fa fa-user action-icons"></span></a>
                                }
                                else if(User.IsInRole(Role.SuperAdmin.DisplayName))
                                {
                                    <a style="opacity: 0.50;" data-toggle="tooltip" title="You are a Super Administrator!" ><span class="fa fa-user action-icons"></span></a>                                                          
                                }

                            </div>
                            <div class="col-md-3">
                                @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != user.UserId)
                                {
                                    <a class="loads-ajax-modal" data-toggle="tooltip" title="Delete User" data-url="@Url.Action("DeleteUser", "User", new {userId = user.UserId})"><span class="fa fa-trash action-icons"></span></a>
                                }
                            </div>
                        </div>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        InitializeModalLoaders();
    });
</script>
