@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management.Instances
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Infrastructure
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.EducationOrganizations.AddPostSecondaryInstitutionModel

<div id ="add-psi-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addPSIModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Post-Secondary Institution</h4>
            </div>
        @if (Model.RequiredApiDataExist)
        {
            <div class="modal-body center-block text-center">
                @using (Html.BeginForm("AddPostSecondaryInstitution", "EducationOrganizations", FormMethod.Post, new { id = "addPostSecondaryFormModal" }))
                {
                    @Html.ValidationBlock()
                    if (CloudOdsAdminAppSettings.Instance.Mode == ApiMode.DistrictSpecific)
                    {
                        @Html.InputBlock(m => m.PostSecondaryInstitutionId, inputModifier:x => x.Attr("readonly", "readonly"))
                    }
                    else
                    {
                        @Html.InputBlock(m => m.PostSecondaryInstitutionId)
                    }
                    @Html.SelectListBlock(m => m.PostSecondaryInstitutionLevel, Model.PostSecondaryInstitutionLevelOptions, x => new SelectListItem {Text = x.DisplayText, Value = x.Value})
                    @Html.SelectListBlock(m => m.AdministrativeFundingControl, Model.AdministrativeFundingControlOptions, x => new SelectListItem {Text = x.DisplayText, Value = x.Value})
                    @Html.InputBlock(m => m.Name)
                    @Html.InputBlock(m => m.StreetNumberName)
                    @Html.InputBlock(m => m.ApartmentRoomSuiteNumber)
                    @Html.InputBlock(m => m.City)
                    @Html.SelectListBlock(m => m.State, Model.StateOptions, x => new SelectListItem {Text = x.DisplayText, Value = x.Value})
                    @Html.InputBlock(m => m.ZipCode)
                }
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
                @Html.SaveButton("Add").AppendSpinner("add-psi-spinner")
            </div>
        }
        else
        {
            @await Html.PartialAsync("_MissingData")
        }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#add-psi-modal").on("show.bs.modal", function () {        
            $("#addPostSecondaryFormModal").get(0).reset();
            $(".form-group").removeClass("has-error");
            $(".validationSummary").addClass("hidden");           
        });
    });
</script>
