@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.EducationOrganizations.EditPsiSchoolModel

<div id="edit-psi-school-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editPsiSchoolModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit School</h4>
            </div>
            <div class="modal-body center-block text-center">
                @using (Html.BeginForm("EditPsiSchool", "EducationOrganizations"))
                {
                    @Html.Input(m => m.Id).Hide()
                    @Html.Input(m => m.SchoolId).Hide()
                    @Html.Input(m => m.PostSecondaryInstitutionId).Hide()
                    @Html.ValidationBlock()
                    @Html.MultiSelectListBlock(m => m.GradeLevels, Model.GradeLevelOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = (Model.GradeLevels != null && Model.GradeLevels.Contains(x.Value)) })
                    @Html.InputBlock(m => m.Name)
                    @Html.InputBlock(m => m.StreetNumberName)
                    @Html.InputBlock(m => m.ApartmentRoomSuiteNumber)
                    @Html.InputBlock(m => m.City)
                    @Html.SelectListBlock(m => m.State, Model.StateOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = Model.State == x.Value })
                    @Html.InputBlock(m => m.ZipCode)
                    if (Model.AccreditationStatusOptions != null && Model.AccreditationStatusOptions.Count > 1)
                    {
                        @Html.SelectListBlock(m => m.AccreditationStatus, Model.AccreditationStatusOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = Model.AccreditationStatus == x.Value})
                    }
                    if (Model.FederalLocaleCodeOptions != null && Model.FederalLocaleCodeOptions.Count > 1)
                    {
                        @Html.SelectListBlock(m => m.FederalLocaleCode, Model.FederalLocaleCodeOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = Model.FederalLocaleCode == x.Value})
                    }
                }
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
                @Html.SaveButton("Save Changes").AppendSpinner("edit-psi-school-spinner")
            </div>
        </div>
    </div>
</div>
