@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.EducationOrganizations.EditPostSecondaryInstitutionModel

<div id="add-psi-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editPSIModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Post Secondary Institution</h4>
            </div>
            <div class="modal-body center-block text-center">
                @using (Html.BeginForm("EditPostSecondaryInstitution", "EducationOrganizations", new { id = "editPostSecondaryFormModal" }))
                {
                    @Html.Input(m => m.Id).Hide()
                    @Html.Input(m => m.PostSecondaryInstitutionId).Hide()
                    @Html.ValidationBlock()
                    @Html.SelectListBlock(m => m.PostSecondaryInstitutionLevel, Model.PostSecondaryInstitutionLevelOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = Model.PostSecondaryInstitutionLevel == x.Value})
                    @Html.SelectListBlock(m => m.AdministrativeFundingControl, Model.AdministrativeFundingControlOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = Model.AdministrativeFundingControl == x.Value })
                    @Html.InputBlock(m => m.Name)
                    @Html.InputBlock(m => m.StreetNumberName)
                    @Html.InputBlock(m => m.ApartmentRoomSuiteNumber)
                    @Html.InputBlock(m => m.City)
                    @Html.SelectListBlock(m => m.State, Model.StateOptions, x => new SelectListItem { Text = x.DisplayText, Value = x.Value, Selected = Model.State == x.Value })
                    @Html.InputBlock(m => m.ZipCode)
                }
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
                @Html.SaveButton("Save Changes").AppendSpinner("edit-psi-spinner")
            </div>
        </div>
    </div>
</div>
