@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.EducationOrganizations
@model EducationOrganizationsIndexModel

@{
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
    ViewBag.Title = "Ods Instance | Education Organizations";
    var leaMode = Model.Mode == EducationOrganizationsMode.LocalEducationAgencies;
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

@if (Model.TpdmEnabled)
{
    <div class="row margin-bottom-40">
        <div class="col-md-12 text-center">
            <span class="radio-inline-container">
                <label class="radio-inline-label">
                    <input id="goToLocalEducationAgencies" type="radio" name="educationOrganizationToggle" class="form-control radio-inline" @(leaMode ? "checked" : "")>
                    Local Education Agencies
                </label>
            </span>
            <span class="radio-inline-container">
                <label class="radio-inline-label">
                    <input id="goToPostSecondaryInstitutions" type="radio" name="educationOrganizationToggle" class="form-control radio-inline" @(leaMode ? "" : "checked")>
                    Post-Secondary Institutions
                </label>
            </span>
        </div>
    </div>

    if (leaMode)
    {
        <script type="text/javascript">
            $(function () {
                $("#goToPostSecondaryInstitutions").on('click', function() {
                    window.location = '@Url.Action("PostSecondaryInstitutions", "EducationOrganizations")';
                });
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                $("#goToLocalEducationAgencies").on('click', function() {
                    window.location = '@Url.Action("LocalEducationAgencies", "EducationOrganizations")';
                });
            });
        </script>
    }
}

<div class="ajax-content">
    @Html.ActionAjax(Url.Action("EducationOrganizationList", "EducationOrganizations", new { pageNumber = 1 }), 200, "Retrieving organization data...")
</div>
