@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.BulkUpload
@using Microsoft.AspNetCore.Mvc.Rendering
@model BulkFileUploadModel

@{
    var maxFileSizeDisplay = BulkFileUploadModel.MaxFileSize / 1000000;
}

@if (!Model.CredentialsSaved)
{
    @await Html.PartialAsync("_SaveBulkUploadCredentialsForm", Model)
}
else
{
    using (Html.BeginForm("ResetCredentials", "BulkUpload", FormMethod.Post, new { id = "reset-credentials-form" }))
    {
        <br />
        <div class="row">
            <div class="col-lg-4" style="padding-top: 5px">
                <label>Available ODS / API Key:</label> @Model.ApiKey
            </div>
            <div class="col-lg-4">
                @Html.SaveButton("Reset credentials").Id("bulk-load-reset-button")
            </div>
        </div>
        <br />
    }
    using (Html.BeginForm("BulkFileUpload", "BulkUpload", FormMethod.Post, new { enctype = "multipart/form-data", id = "bulk-upload-form" }))
    {
        <div class="row">
            <div class="col-lg-12">
                <div id="validation-Summary" align="left" class="alert alert-danger" hidden></div>
            </div>
        </div>

        <div class="row padding-bottom-10">
            <div class="col-lg-6">
                <label>Select File Type:</label>
                @(Html.SelectList(Model.BulkFileType, "BulkFileType"))
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <div class="form-control" id="upload-file-info"></div>
                    <div class="input-group-btn">
                        <button style="margin-left: -37px; display: none; z-index: 2;" class="btn btn-default btn-hover" id="clear-file-upload"><i class="fa fa-times fa-lg"></i></button>
                        <label type="button" class="btn btn-primary">
                            <input id="bulk-files-input" asp-for="BulkFiles" name="BulkFiles" value="@Model.BulkFiles" type="file" style="display: none;" maxlength="@BulkFileUploadModel.MaxFileSize" accept=".xml" multiple/>
                            Select file
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span style="font-style: italic;">(maximum file size: @maxFileSizeDisplay MB, file type: .xml)</span>
            </div>
            <div class="col-lg-12">
                <span id="upload-file-size-error" class="upload-error">The selected file to too large. Please select another file.</span>
                <span id="upload-file-type-error" class="upload-error">Please select xml file.</span>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-3">
                <button id="upload-bulk-files-button" type="submit" class="no-ajax btn btn-success" disabled><i class="fa fa-upload"></i> Upload</button>
                <i id="upload-button-spinner" class="fa fa-spinner fa-pulse fa-fw inline-icon" style="display: none;"></i>
            </div>
        </div>
    }
}

<script type="text/javascript">
    function ErrorStatusDisplay() {
        $('#upload-bulk-files-button').prop("disabled", true);
        $('#clear-file-upload').hide();
        $('#upload-file-info').html("");
    }

    $("#bulk-files-input").change(function () {
        if ($(this).get(0).files.length > 0) {
            var maxLength = $(this).attr("maxlength");
            var fileExt = $(this).attr("accept");
            if (fileExt) {
                for (var i = 0; i < $(this).get(0).files.length; ++i) {
                    var fileName = $(this).get(0).files[i].name;
                    if (fileName.substring(fileName.lastIndexOf('.')) !== fileExt) {
                        $(this).get(0).value = "";
                        $('#upload-file-type-error').show();
                        ErrorStatusDisplay();
                        return;
                    }
                }
            }
            if (maxLength) {
                for (var j = 0; j < $(this).get(0).files.length; ++j) {
                    if ($(this).get(0).files[j].size > maxLength) {
                        $(this).get(0).value = "";
                        $('#upload-file-size-error').show();
                        ErrorStatusDisplay();
                        return;
                    }
                }
            }

            $('#upload-file-info').html($(this).get(0).files[0].name);
            $('#clear-file-upload').show();
            $('#upload-bulk-files-button').prop("disabled", false);
            $('.upload-error').hide();
        }
    });

    $("#clear-file-upload").click(function (e) {
        e.preventDefault();
        $('#bulk-files-input').get(0).value = "";
        $('#upload-bulk-files-button').prop("disabled", true);
        $('#clear-file-upload').hide();
        $('#upload-file-info').html("");
    });

    $(function () {

        var hubUrl = '@ViewData["PathBase"]' + "/bulkUploadHub";
        var connection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .configureLogging(signalR.LogLevel.Error)
            .withAutomaticReconnect({
                nextRetryDelayInMilliseconds: retryContext => {
                    return Math.random() * 5000;
                }
            })
            .build();

        edfiODS.signalR.startListener(connection, null);
        edfiODS.signalR.changeStatusMessage("Initializing file importer");
    });

    $("#bulk-upload-form").submit(function (e) {
        e.preventDefault();
        var $form = $(this);
        var formData = new FormData($form[0]);

        $('#upload-button-spinner').show();
        $('#upload-bulk-files-button').prop("disabled", true);
        $('.upload-error').hide();
        var validationBlock = $('#validation-Summary');

        $.ajax({
            url: $form.attr("action"),
            type: 'POST',
            data: formData,
            success: function (data, status, xhr) {
                if (xhr.status !== edfiODS.httpStatusCodes.NoContent) {
                    $('#signalRstatus').html(data);
                    ShowBulkUploadStatusModal();
                }
                $('#upload-button-spinner').hide();
                $('#upload-bulk-files-button').prop("disabled", false);
            },
            error: function (data) {
                edfiODS.signalR.showError("Error uploading bulk data.  Please try again later");
                $('#upload-button-spinner').hide();
                $('#upload-bulk-files-button').prop("disabled", false);
                validationBlock.attr("hidden", false);
                validationBlock.text(getErrorString(data));
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    var saveCredentials = function (e) {
        e.preventDefault();
        var $form = $(this),
            formData = appendAntiForgeryToken($form.serialize());
        $.ajax({
            url: $form.attr("action"),
            type: 'POST',
            data: formData
        });
    };

    $('#save-credentials-form').submit(saveCredentials);
    $('#reset-credentials-form').submit(saveCredentials);

    function ShowBulkUploadStatusModal() {
        $("#bulk-upload-status-modal").modal({
            keyboard: false,
            backdrop: 'static'
        });
    }
</script>
