@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Application
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Application.AddApplicationViewModel

<div class="modal fade" id="add-application-modal" tabindex="-1" role="dialog" aria-labelledby="add-application-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Application to Vendor</h4>
            </div>
            @if (!Model.LocalEducationAgencies.Any() && !Model.LocalEducationAgencies.Any())
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <strong>To add an application, you must first create at least one education organization</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.CancelModalButton()
                </div>
            }
            else
            {
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Application"))
                    {
                        @Html.ValidationBlock()
                        @Html.Input(m => m.VendorId).Hide()
                        @Html.Input(m => m.Environment).Hide().Value(Model.Environment.Value.ToString())
                        @Html.InputBlock(m => m.ApplicationName, "Application Name", "Name that identifies this application")

                        <div class="row">
                            <div class="col-xs-4 text-right">
                                @Html.Label("Education Organization Type:")
                            </div>
                            <div class="col-xs-6 margin-bottom-10">
                                @Html.InlineRadioButton(x => x.EducationOrganizationType, ApplicationEducationOrganizationType.LocalEducationAgency)
                                @Html.InlineRadioButton(x => x.EducationOrganizationType, ApplicationEducationOrganizationType.School)
                            </div>
                            <div class="col-xs-2">
                                @Html.ToolTip("An application may only access one type of education organization at a time - either LEAs or schools.")
                            </div>
                        </div>

                        @Html.MultiSelectListBlock(m => m.EducationOrganizationIds, Model.LocalEducationAgencies, cs => new SelectListItem {Selected = false, Text = cs.Name, Value = cs.EducationOrganizationId.ToString()}, "Denotes which EdOrgs this application can access").Data("edorg-type", ApplicationEducationOrganizationType.LocalEducationAgency.Value).Hide()
                        @Html.MultiSelectListBlock(m => m.EducationOrganizationIds, Model.Schools, cs => new SelectListItem {Selected = false, Text = cs.Name, Value = cs.EducationOrganizationId.ToString()}, "Denotes which EdOrgs this application can access").Data("edorg-type", ApplicationEducationOrganizationType.School.Value).Hide()

                        @Html.SelectListBlock(m => m.ClaimSetName, Model.ClaimSetNames, cs => new SelectListItem {Selected = false, Text = cs, Value = cs}, "Claims define the actions this application is allowed to perform")

                        <div class="advanced-option" style="display:none">
                            @Html.SelectListBlock(m => m.ProfileId, Model.Profiles, ps => new SelectListItem {Selected = false, Text = ps.ProfileName, Value = ps.ProfileId.ToString()}, includeBlankOption: true, helpTooltipText: "Optional. Used to implement data access policies within individual API resources. This is an advanced setting; please see the Ed-Fi ODS technical documentation for more detail.")
                        </div>

                        <div class="row">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-8">
                                <div class="hides-elements" data-associated-elements="advanced-option" style="display: none">
                                    <a href="#">Hide Advanced Options</a>
                                </div>
                                <div class="shows-elements" data-associated-elements="advanced-option">
                                    <a href="#">Show Advanced Options</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    @Html.CancelModalButton()
                    @Html.SaveButton("Add Application", "modal-content").AppendSpinner("add-app-spinner")
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var $edorgOptions = $("input[name='EducationOrganizationType']");
        $edorgOptions.change(function () {
            if ($(this).is(':checked')) {
                var edOrgType = $(this).val();
                ShowEdOrgSelectList(edOrgType);
            }
        });
    });

    function ShowEdOrgSelectList(edOrgType) {
        var $allEdOrgSelectLists = $("[data-edorg-type]");
        $allEdOrgSelectLists.hide();
        $allEdOrgSelectLists.find("select").prop("disabled", true);
        var $shownSelectList = $allEdOrgSelectLists.filter("[data-edorg-type='" + edOrgType + "']");
        $shownSelectList.find("select").prop("disabled", false);
        $shownSelectList.show();
    }
</script>
