@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model IEnumerable<EdFi.Ods.AdminApp.Web.Models.ViewModels.ApplicationModel>

@foreach (var application in Model)
{
    <div class="vendor-application card">
        <div class="row">
            <div class="col-lg-6">
                <h8>@application.ApplicationName.ToTitleCase()</h8>
            </div>

            <div class="col-lg-6 text-right">
                <a href="javascript:void(0)" class="edit-table loads-ajax-modal" data-url="@Url.Action("Edit", "Application", new { ApplicationId = application.ApplicationId })"> <span class="fa fa-pencil action-icons"></span></a>
                <a href="javascript:void(0)" class="delete-application-link" data-id="@application.ApplicationId" data-application-name="@application.ApplicationName"> <span class="fa fa-trash-o action-icons"></span></a>
                <span class="custom-divider"> |</span>
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#app-details-@(application.ApplicationId)"><span class="fa fa-chevron-up caret-custom panel-toggle"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="app-details-@(application.ApplicationId)" class="collapse in application">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <strong>Education Organizations: </strong>
                                @foreach (var edOrg in application.EducationOrganizations)
                                {
                                    <span class="tag label label-info tag-custom tag-modal">@edOrg.Name</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>
                                <strong>Claim Set: </strong>@application.ClaimSetName
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <strong>Profile: </strong>@(application.ProfileName == null ? "None": @application.ProfileName)
                            </p>
                        </div>
                    </div>
                    <div class="key-section">
                        <div class="row">
                            <div class="col-lg-6">
                                <strong class="key-label">Key: </strong><a class="regenerate-application-secret-link" data-id="@application.ApplicationId" data-name="@application.ApplicationName" href="javascript:void(0)">Regenerate</a>
                            </div>
                            <div class="col-lg-6">
                                <strong class="key-label">Status: </strong> <strong class="text-success">Active</strong>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-lg-12 padding-top">
                                <strong class="key-label">Secret:</strong> <span class="text-muted">You need to re-generate a key to obtain a secret.</span>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-lg-12 padding-top note-key">
                                <strong>
                                    <span class="text-danger">Note:</span>
                                    For security purposes keys and secrets are viewable only after being re-generated.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
