@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.ProductImprovementModel

@{
    ViewBag.Title = "Enable Product Improvement";
}

<div class="container">
    <h2>Enable Product Improvement</h2>
    <div class="row">
        <div class="col-lg-11">
            <p>
                Ed-Fi offers community members the ability to provide direct product feedback via telemetry and
                Ed-Fi Tracker Jira feature request forms. The telemetry data sent to Ed-Fi allows us to improve
                products based on usage from its active adopters. To see more information on this topic,
                <a href="https://techdocs.ed-fi.org/display/EDFITOOLS/Product+Improvement">
                    please see this article on TechDocs
                </a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            @using (Html.BeginForm("EnableProductImprovementFirstTimeSetup", "ProductImprovement"))
            {
                @Html.AntiForgeryToken()
                if (!Html.ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                }
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.CheckBoxFor(x => x.EnableProductImprovement)
                        @Html.Label("Enable Product Improvement")
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.SaveButton("Proceed").AddClass("no-ajax").RemoveClass("cta")
                    </div>
                </div>
            }
        </div>
    </div>
</div>
