@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Identity.LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Login", "Identity", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    }
    @Html.HiddenFor(x => x.AllowUserRegistration)
    @Html.InputBlock(x => x.Email)
    @Html.InputBlock(x => x.Password)

    <div class="row form-group">
        <div class="col-xs-offset-4 col-xs-6">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                Remember me?
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-offset-4 col-xs-6">
            <button type="submit" class="btn btn-primary cta no-ajax">Sign In</button>
        </div>
    </div>

    if (Model.AllowUserRegistration)
    {
        <p class="text-right">
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    }
    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}