@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Identity.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<h4>Create a new account.</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    }
    @Html.InputBlock(x => x.Email)
    @Html.InputBlock(x => x.Password)
    @Html.InputBlock(x => x.ConfirmPassword)
    <div class="row form-group">
        <div class="col-xs-offset-4 col-xs-6">
            <button type="submit" class="btn btn-primary cta no-ajax">Register</button>
        </div>
    </div>
}
