@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Application.ApplicationKeyModel

<div class="modal-header">
    <h4 class="modal-title">Add @Model.ApplicationEnvironment.DisplayName Application</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <h7><img class="modal-image-header" src="~/Content/images/key_icon@2x.png" /></h7>
        <div class="key-text">
            <div>@Model.ApplicationName</div>
            <div>Key: <span class="key-generated">@Model.Key</span></div>
            <div>Secret: <span class="key-generated">@Model.Secret</span></div>
            <div>API URL: <span class="key-generated">@Model.ApiUrl</span></div>
        </div>
    </div>
    <div class="text-center padding-top">
        <p><span class="note">Note:</span> For security purposes, this key is not viewable after you leave this page.</p>
        <p>Be sure to copy the key elsewhere for safekeeping.</p>
    </div>
</div>
<div class="modal-footer">
    @Html.CancelButton("I have copied the Key and Secret").Id("key-and-secret-dismiss-button")
</div>
<script language="javascript">
    $("#key-and-secret-dismiss-button").click(function() {
        location.reload(true);
    });
</script>
