@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets.AddClaimSetModel

<h3>Add Claim Set</h3>
@using (Html.BeginForm("AddClaimSet", "ClaimSets", FormMethod.Post, new { @id = "add-claim-set-form" }))
{
    @Html.AntiForgeryToken()
    <div id="add-claim-set-validation-summary" class="validationSummary alert alert-danger" hidden></div>
    <div class="form-group row">
        @Html.InputBlock(x => x.ClaimSetName)
    </div>
    <br />
    <div class="padding-top-5">
        @Html.Button("Back").AddClass("back-btn back-ajax claimset-back-btn").Data("back-url", Url.Action("ClaimSets", "GlobalSettings"))
        @Html.SaveButton("Save")
    </div>
}
<script type="text/javascript">
    $('#add-claim-set-form').submit(function (e) {
        e.preventDefault();
        var successAdditionalBehavior = function() {
            ClaimSetToastrMessage("New Claimset added successfully", true);
            ClaimSetWarningMessage(true);
        };
        var errorAdditionalBehavior = function () {
            ClaimSetToastrMessage("There was an error while adding the new Claimset");
        };
        var ajaxRequestData = {
            form: $(this),
            formData: $(this).serialize(),
            successAction : {
                state: 'edit',
                url: '@Url.Action("ClaimSets", "GlobalSettings")'
            },
            panelId: "claim-set-tab",
            successAdditionalBehavior: successAdditionalBehavior,
            errorAdditionalBehavior: errorAdditionalBehavior
        };
        submitAjaxForInnerTabs(ajaxRequestData);
    });
    $(function () {
        InitializeBackNavigationalAjaxButtons();
    });
</script>