@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management.ClaimSetEditor.Extensions
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization
@model AuthStrategyEditorModel

<div id="auth-strategies-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="authStrategiesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="text-align: center;">Override Authorization Strategy</h4>
                <div>
                    <h6>Editor Legend</h6>
                    <div class="row">
                        <span class="default-strategy">(Default)</span><span class="margin-left-10">Not inherited from parent</span>
                    </div>
                    <div class="row">
                        <span class="default-strategy inherited-strategy">(Default)</span><span class="margin-left-10">Inherited from parent</span>
                    </div>
                    <div class="row">
                        <span class="overridden-strategy">(Overridden)</span><span class="margin-left-10">Overridden</span>
                    </div>
                    <div class="row">
                        <span class="overridden-strategy inherited-override">(Overridden)</span><span class="margin-left-10">Overridden by parent</span>
                    </div>
                </div>
            </div>
            <div class="modal-body center-block text-center">
                <div id="auth-modal-spinner" class="text-center hidden">
                    <div><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                </div>
                <table class="table" id="auth-table">
                    <colgroup>
                        <col style="width: 2%">
                        <col style="width: 18%">
                        <col style="width: 18%">
                        <col style="width: 18%">
                        <col style="width: 18%">
                        <col style="width: 18%">
                        <col style="width: 4%">
                        <col style="width: 4%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Resource</th>
                        <th scope="col">Read</th>
                        <th scope="col">Create</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.ResourceClaim != null)
                    {
                         var authStrategyOverridesForRead = Model.ResourceClaim.AuthStrategyOverridesForCRUD.Read();
                         var defaultAuthStrategyForRead = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Read();

                         var authStrategyOverridesForCreate = Model.ResourceClaim.AuthStrategyOverridesForCRUD.Create();
                         var defaultAuthStrategyForCreate = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Create();

                         var authStrategyOverridesForUpdate = Model.ResourceClaim.AuthStrategyOverridesForCRUD.Update();
                         var defaultAuthStrategyForUpdate = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Update();

                         var authStrategyOverridesForDelete = Model.ResourceClaim.AuthStrategyOverridesForCRUD.Delete();
                         var defaultAuthStrategyForDelete = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Delete();

                        <tr class="parent-resource-claim">
                            <td class="icon-cell"></td>
                            <td data-resource-id='@Model.ResourceClaim.Id' class="resource-label">@Model.ResourceClaim.Name</td>
                            <td class="read-action-cell" data-existing-action='@Model.ResourceClaim.Read'>
                                @if (authStrategyOverridesForRead != null)
                                {
                                    <span data-is-inherited="@authStrategyOverridesForRead.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForRead.DisplayName'>@authStrategyOverridesForRead.DisplayName</span>
                                    if (authStrategyOverridesForRead.IsInheritedFromParent)
                                    {
                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                    }
                                    else
                                    {
                                        <span class="overridden-strategy">(Overridden)</span>
                                    }
                                }
                                else if (defaultAuthStrategyForRead != null)
                                {
                                    <span data-is-inherited="@defaultAuthStrategyForRead.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForRead.DisplayName'>@defaultAuthStrategyForRead.DisplayName</span>
                                    if (defaultAuthStrategyForRead.IsInheritedFromParent)
                                    {
                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                    }
                                    else
                                    {
                                        <span class="default-strategy">(Default)</span>
                                    }
                                }
                            </td>
                            <td class="create-action-cell" data-existing-action='@Model.ResourceClaim.Create'>
                                @if (authStrategyOverridesForCreate != null)
                                {
                                    <span data-is-inherited="@authStrategyOverridesForCreate.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForCreate.DisplayName'>@authStrategyOverridesForCreate.DisplayName</span>
                                    if (authStrategyOverridesForCreate.IsInheritedFromParent)
                                    {
                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                    }
                                    else
                                    {
                                        <span class="overridden-strategy">(Overridden)</span>
                                    }
                                }
                                else if (defaultAuthStrategyForCreate != null)
                                {
                                    <span data-is-inherited="@defaultAuthStrategyForCreate.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForCreate.DisplayName'>@defaultAuthStrategyForCreate.DisplayName</span>
                                    if (defaultAuthStrategyForCreate.IsInheritedFromParent)
                                    {
                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                    }
                                    else
                                    {
                                        <span class="default-strategy">(Default)</span>
                                    }
                                }
                            </td>
                            <td class="update-action-cell" data-existing-action='@Model.ResourceClaim.Update'>
                                @if (authStrategyOverridesForUpdate != null)
                                {
                                    <span data-is-inherited="@authStrategyOverridesForUpdate.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForUpdate.DisplayName'>@authStrategyOverridesForUpdate.DisplayName</span>
                                    if (authStrategyOverridesForUpdate.IsInheritedFromParent)
                                    {
                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                    }
                                    else
                                    {
                                        <span class="overridden-strategy">(Overridden)</span>
                                    }
                                }
                                else if (defaultAuthStrategyForUpdate != null)
                                {
                                    <span data-is-inherited="@defaultAuthStrategyForUpdate.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForUpdate.DisplayName'>@defaultAuthStrategyForUpdate.DisplayName</span>
                                    if (defaultAuthStrategyForUpdate.IsInheritedFromParent)
                                    {
                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                    }
                                    else
                                    {
                                        <span class="default-strategy">(Default)</span>
                                    }
                                }
                            </td>
                            <td class="delete-action-cell" data-existing-action='@Model.ResourceClaim.Delete'>
                                @if (authStrategyOverridesForDelete != null)
                                {
                                    <span data-is-inherited="@authStrategyOverridesForDelete.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForDelete.DisplayName'>@authStrategyOverridesForDelete.DisplayName</span>
                                    if (authStrategyOverridesForDelete.IsInheritedFromParent)
                                    {
                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                    }
                                    else
                                    {
                                        <span class="overridden-strategy">(Overridden)</span>
                                    }
                                }
                                else if (defaultAuthStrategyForDelete != null)
                                {
                                    <span data-is-inherited="@defaultAuthStrategyForDelete.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForDelete.DisplayName'>@defaultAuthStrategyForDelete.DisplayName</span>
                                    if (defaultAuthStrategyForDelete.IsInheritedFromParent)
                                    {
                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                    }
                                    else
                                    {
                                        <span class="default-strategy">(Default)</span>
                                    }
                                }
                            </td>
                            <td>
                                <a class="override-auth"> <span class="fa fa-pencil action-icons"></span></a>
                            </td>
                            <td>
                                <a class="reset-auth"> <span class="fa fa-undo action-icons"></span></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var authStrategyOverrideUrl = '@Url.Action("OverrideAuthStrategiesOnResource", "ClaimSets")';
    var getUpdatedResourceUrl = '@Url.Action("GetUpdatedResourceClaim", "ClaimSets")';
    var resetAuthStrategyUrl = '@Url.Action("ResetAuthStrategiesOnResource", "ClaimSets")';
    var authStrategiesOptions = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(Model.AuthStrategies, new JsonSerializerSettings
                                      {
                                          StringEscapeHandling = StringEscapeHandling.EscapeHtml
                                      })));
</script>
<script type="text/javascript" src="~/bundles/authstrategy.min.js" asp-append-version="true"></script>
