@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets.EditClaimSetModel

<h3>Edit Claim Set</h3>
@using (Html.BeginForm("EditClaimSet", "ClaimSets", FormMethod.Post, new { @id = "edit-claim-set-form" }))
{
    <div id="edit-claim-set-validation-summary" class="validationSummary alert alert-danger" hidden></div>
    @Html.Input(x => x.ClaimSetId).Hide()
    <div class="form-group row">
        <div class="col-md-8">
            @Html.InputBlock(x => x.ClaimSetName, inputModifier: x => x.Attr("maxlength", 255))
        </div>
        <div class="col-md-4">
            @Html.SaveButton("Update Name").AddClass("no-ajax")
        </div>
    </div>
}
<h3>Applications</h3>
@if (Model.Applications.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Application Name</th>
                <th scope="col">Vendor Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model.Applications)
            {
                <tr>
                    <td>@application.Name</td>
                    <td>@application.VendorName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div> No applications found.</div>
}
<br />

<div id="resource-editor-tab">
   @{await Html.RenderPartialAsync("_ResourceEditor", new ClaimSetResourcesModel()
    {
        AllResourceClaims = Model.AllResourceClaims,
        ResourceClaims = Model.ResourceClaims,
        ClaimSetId = Model.ClaimSetId,
        ClaimSetName = Model.ClaimSetName
    });}
</div>
<div class="padding-top-5">
    @Html.ActionLink("Back", "ClaimSets", "GlobalSettings", null, new { @class = "btn btn-primary cta" })
</div>
<script type="text/javascript">
    $('#edit-claim-set-form').submit(function (e) {
        e.preventDefault();
        var postData = {
            'ClaimSetId': parseInt($("#ClaimSetId").val()),
            'ClaimSetName': $("#ClaimSetName").val()
        };
        var successAdditionalBehavior = function() {
            ClaimSetToastrMessage("Claimset name edited successfully", true);
            ClaimSetWarningMessage(true);
        };
        var errorAdditionalBehavior = function () {
            ClaimSetToastrMessage("There was an error while editing the Claimset");
        };
        var ajaxRequestData = {
            form: $(this),
            formData: addAntiForgeryToken(postData),
            dataType: "html",
            successAdditionalBehavior: successAdditionalBehavior,
            errorAdditionalBehavior: errorAdditionalBehavior
        };
        submitAjaxForInnerTabs(ajaxRequestData);
    });

    $(function () {
        InitializeModalLoaders();
        InitializeBackNavigationalAjaxButtons();
    });
</script>
