@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using Newtonsoft.Json;
@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets.ClaimSetFileExportModel

<h3>Export Claim Set</h3>
@if (!Model.ClaimSets.Any())
{
    <p>
        You don't have any claimsets to export. Please create one to export.
    </p>
}
else
{
    using (Html.BeginForm("FileExport", "ClaimSets", FormMethod.Post, new { @id = "export-claim-set-form" }))
    {
        @Html.HiddenFor(x => x.SelectedForExport);
        @Html.HiddenFor(x => x.ClaimSets);
        <div id="export-claim-set-validation-summary" class="validationSummary alert alert-danger" hidden></div>
        <div class="row">
            @Html.InputBlock(x => x.Title)
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1">Export?</th>
                            <th>ClaimSet Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var claimSet in Model.ClaimSets)
                        {
                            <tr>
                                <td>@Html.CheckBox($"claimSet{claimSet.Id}", new { @class = "claimset-to-export", data_claimset_id = claimSet.Id })</td>
                                <td>@claimSet.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
<div class="padding-top-5">
    @Html.Button("Back").AddClass("back-btn back-ajax claimset-back-btn").Data("back-url", Url.Action("ClaimSets", "GlobalSettings"))
    @Html.Button("Preview").Id("export-preview-button")
</div>
<script type="text/javascript">
    var goToPreview = function (e) {
        e.preventDefault();
        var selectedClaimSetIds = [];
        $(".claimset-to-export:checkbox:checked").each(function () {
            selectedClaimSetIds.push($(this).data("claimset-id"));
        });
        $(".claimset-to-export").removeAttr("name");

        var postData = {
            'Title': $("#Title").val(),
            'SelectedForExport': selectedClaimSetIds,
            'ClaimSets': @Html.Raw(JsonConvert.SerializeObject(Model.ClaimSets, new JsonSerializerSettings
                    {
                        StringEscapeHandling = StringEscapeHandling.EscapeHtml
                    })),
            "__RequestVerificationToken": getAntiForgeryToken()
        };

        var successAdditionalBehavior = function () {
            ClaimSetToastrMessage("Claimset(s) exported successfully.\nPlease click the download button after previewing the information.", true);
        };
        var errorAdditionalBehavior = function () {
            ClaimSetToastrMessage("There was an error while exporting the Claimset(s)");
        };
        var ajaxRequestData = {
            form: $("#export-claim-set-form"),
            formData: postData,
            dataType: "html",
            successAction : {
                state: 'exportpreview',
                url: '@Url.Action("ClaimSets", "GlobalSettings")'
            },
            panelId: "claim-set-tab",
            successAdditionalBehavior: successAdditionalBehavior,
            errorAdditionalBehavior: errorAdditionalBehavior
        };
        submitAjaxForInnerTabs(ajaxRequestData);
    };

    $('#export-preview-button').click(goToPreview);
    $(function () {
        InitializeBackNavigationalAjaxButtons();
    });
</script>