@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets.ClaimSetFileImportModel

<h3>Import/Export Claim Set</h3>
@using (Html.BeginForm("FileImport", "ClaimSets", FormMethod.Post, new { @id = "import-claim-set-form", enctype = "multipart/form-data"}))
{
@Html.AntiForgeryToken()
<div id="import-claim-set-validation-summary" class="validationSummary alert alert-danger" hidden></div>
<div class="row">
    <div class="col-md-10">
        @Html.FileInputBlock(x => x.ImportFile)
    </div>
    <div class="col-md-2">
        @Html.SaveButton("Import").AddClass("no-ajax")
    </div>
</div>
}
<div class="padding-15 col-lg-offset-6">
    @Html.Button("Export Claimsets").Attr("href", Url.Action("ExportClaimSetIndex", "ClaimSets")).AddClass("navigational-ajax").Data("state", "edit").Data("page-url", Url.Action("ClaimSets", "GlobalSettings")).Data("action", "exporting Claim Sets")
</div>
<div class="padding-top-5">
    @Html.Button("Back").AddClass("back-btn back-ajax claimset-back-btn").Data("back-url", Url.Action("ClaimSets", "GlobalSettings"))
</div>
<script type="text/javascript">
    $('#import-claim-set-form').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var validationBlock = $('#import-claim-set-validation-summary')[0];
        var successHandler = function (data) {
            validationBlock.hidden = true;
            ClaimSetToastrMessage("Claimset imported successfully", true);
            ClaimSetWarningMessage(true);
            history.replaceState({ state: 'listing' }, "", '@Url.Action("ClaimSets", "GlobalSettings")');
            $("#global-tab").html($(data).find('#global-tab').html());
            if (sessionStorage.getItem("LatestDatabaseChangeTimestamp") != null) {
                $("#claim-set-warning-message").show();
            }
        };
        var errorAdditionalBehavior = function () {
            ClaimSetToastrMessage("There was an error while importing the Claimset");
        };
        var ajaxRequestData = {
            form: $(this),
            formData: new FormData(form[0]),
            cache: false,
            contentType: false,
            processData: false,
            successHandler: successHandler,
            errorAdditionalBehavior: errorAdditionalBehavior
        };
        submitAjaxForInnerTabs(ajaxRequestData);
    });
    $(function () {
        InitializeSubmitButtons();
        InitializeNavigationalAjaxButtons();
        InitializeBackNavigationalAjaxButtons();
    });
</script>