@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Infrastructure
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.OdsInstanceSettings
@model OdsInstanceSettingsModel

@{
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
    ViewBag.Title = "Ods Instance | Setup";
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

<div class="tab-content">
    <div class="tab-pane active" id="applications">
        <h6>Setup Production</h6>
        <hr/>
        
        <div>
            @if (!CloudOdsAdminAppSettings.Instance.SystemManagedSqlServer)
            {
                <div class="row subsection">
                    <div class="col-lg-12 text-center">
                        <span class="note">NOTE:</span>
                        <span>Your Ed-Fi ODS is running against a self-managed SQL Server. Therefore, you must perform the Production Setup operation manually on your SQL Server. See documentation for more details.</span>
                    </div>
                </div>
            }
            @using (Html.BeginForm("Setup", "OdsInstanceSettings", FormMethod.Post, new {@id = "setup-production-form"}))
            {
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="row subsection">
                            <div class="col-lg-12 text-center">
                                <span class="note">NOTE:</span>
                                <span>Interactive setup mode will populate this ODS Instance with default Ed-Fi descriptors. You will need to manually add districts and schools via the Education Organizations tab.</span>
                            </div>
                        </div>
                        @Html.Button("Setup Production").Id("setup-production-button")
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div id="setup-production-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="setup-production-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Setup Production</h4>
            </div>
            <div class="modal-body center-block" id="production-setup-modal-body">
                <div class="production-setup-confirm">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="note">WARNING</div>
                            <div>
                                This operation <strong>brings your Production instance online, and may only be performed one time.</strong>
                            </div>
                            <div>Are you sure you are ready to bring Production online?</div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                @Html.Partial("_SignalRStatus")
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton().AddClass("production-setup-confirm")
                @Html.Button("Confirm").AddClasses("production-setup-confirm").Id("confirm-production-setup-button")
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    $(document).ready(function() {
        edfiODS.signalR.hideProgress();
        edfiODS.signalR.startListener($.connection.productionSetupHub, '@Html.Raw(Url.Action("SetupComplete", "OdsInstanceSettings"))');
    });

    $('#setup-production-button').click(function(e) {
        e.preventDefault();
        $("#setup-production-modal").modal({
            keyboard: false,
            backdrop: 'static'
        });
    });

    $("#confirm-production-setup-button").click(function(e) {
        e.preventDefault();
        var $form = $("#setup-production-form");

        $.ajax({
            url: $form.attr("action"),
            type: "post",
            data: appendAntiForgeryToken($form.serialize()),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function() {
                ShowResetProgress();
            },
            error: function () {
                edfiODS.signalR.showError("Error trying to start Production Setup operation.  Note that this operation may only be performed once.");
            }
        });
    });

    function ShowResetProgress() {
        $(".production-setup-confirm").hide();
        edfiODS.signalR.showProgress();
    }
</script>