@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.OdsInstanceSettings
@model OdsInstanceSettingsModel

@{
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
    ViewBag.Title = "Ods Instance | Setup";
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

<div class="tab-content">
    <div class="tab-pane active" id="applications">
        <h6>Production Setup Complete</h6>
        <hr />

        <div class="row subsection">
            <div class="col-lg-12 text-center">
                <div>Production Setup has been completed. See documentation if you need to reset your Production instance to a default state.</div>
            </div>
        </div>

        @if (Model.ProductionSetupCompletedModel.HasProvisioningWarnings)
        {
        <div class="row subsection">
            <div class="col-lg-12 text-center">
                <span class="note">WARNING:</span>
                <span>One or more setup problems have been detected.  Consider resolving these items by visiting <a href="@Model.ProductionSetupCompletedModel.ProvisioningWarnings.ResolutionUrl" target="_blank">@Model.ProductionSetupCompletedModel.ProvisioningWarnings.ResolutionUrl</a></span>
                <br />
                <div>
                    <ul style="display: inline-block">
                        @foreach (var warning in Model.ProductionSetupCompletedModel.ProvisioningWarnings.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        }

        else
        {
            <div class="row subsection">
                <div class="col-lg-12 text-center">
                    <span class="success-note">SUCCESS:</span>
                    <span>No warnings have been detected.</span>
                    <br />
                    <div>
                        Next step: Setup/Verify <a href="@Url.Action("EducationOrganizations")">Education Organizations</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
