@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Global.EditVendorModel

@if (Model == null)
{
    <div class="alert alert-danger">
        This vendor cannot be found. It may have been recently deleted.
    </div>
}
else
{
    using (Html.BeginForm("EditVendor", "GlobalSettings"))
    {
        @Html.ValidationBlock()
        @Html.Input(m => m.VendorId).Hide()
        @Html.InputBlock(m => m.Company, "Vendor Name")
        @Html.InputBlock(m => m.NamespacePrefix, "http://vendorwebsite.com")
        @Html.InputBlock(m => m.ContactName, "Jane Smith")
        @Html.InputBlock(m => m.ContactEmailAddress, "email@vendorwebsite.com")
    }
}
