@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Display.HomeScreen
@using EdFi.Ods.AdminApp.Web.Infrastructure
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Home.IndexModel

@functions
{
    public string GetCssClassName(bool isEnabled)
    {
        return isEnabled ?  "" :  "disabled";
    }
}

@{
    ViewBag.Title = "Home Page";

    var SettingsDisplay = Model.HomeScreenDisplays.FirstOrDefault(a => a.HomeScreen == HomeScreenEnumeration.Settings);
    var OdsInstancesDisplay = Model.HomeScreenDisplays.FirstOrDefault(a => a.HomeScreen == HomeScreenEnumeration.OdsInstances);
    var GlobalDisplay = Model.HomeScreenDisplays.FirstOrDefault(a => a.HomeScreen == HomeScreenEnumeration.Global);
}

@if (User.Identity.IsAuthenticated)
{
    if (Model.SetupJustCompleted)
    {
        <script language="javascript">
            toastr.success("Setup completed successfully. Your EdFi ODS installation is ready to use!")
        </script>
    }


    <div class="row text-center features-container">

        @if (GlobalDisplay != null)
        {
            <a href="@Url.Action("Vendors", "GlobalSettings")" class="@GetCssClassName(GlobalDisplay.IsEnabled)">
                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="border-circular">
                        <img src="~/Content/images/reports@2x.png" width="200" alt="Global"/>
                    </div>
                    <div class="caption">
                        <h3>Global</h3>
                    </div>
                </div>
            </a>
        }

        @if (SettingsDisplay != null)
        {
            <a href="@Url.Action("Index", "Application")" class="@GetCssClassName(SettingsDisplay.IsEnabled)">
                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="border-circular">
                        <img src="~/Content/images/settings@2x.png" width="200" alt="Settings"/>
                    </div>
                    <div class="caption">
                        <h3>Settings</h3>
                    </div>
                </div>
            </a>
        }

        @if (OdsInstancesDisplay != null)
        {
            <a href="@Url.Action("Index", "OdsInstances")" class="@GetCssClassName(OdsInstancesDisplay.IsEnabled)">
                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="border-circular">
                        <img src="~/Content/images/settings@2x.png" width="200" alt="Ods Instances"/>
                    </div>
                    <div class="caption">
                        <h3>ODS Instances</h3>
                    </div>
                </div>
            </a>
        }

    </div>
}

else
{
    <div class="text-center">
        <img src="~/Content/images/logo-edfi@2x.png"/>
        <p class="lead">Ed-Fi ODS Admin App for Suite 3</p>
        <p>Please <a href="@Url.Action("Login", "Identity")" class="btn btn-primary">Sign In <span class="padding-left"><i class="fa fa-chevron-circle-right"></i></span></a> to continue</p>
    </div>
}

<script type="text/javascript">
        $('.disabled').click(function (e) {
            e.preventDefault();
        });

        $('.disabled , .disabled .caption, .disabled img').css({
            'cursor': 'not-allowed',
            '-webkit-filter': 'grayscale(1)',
            'filter': 'grayscale(1)'
        });

        $('.disabled .border-circular').css('background', 'rgba(0,0,0,0.25)');
</script>
